{{!-- Movie summary --}}
  <div class="flex gap-4 pt-10">
      <div class="size-32 self-center">
        <img class="" src="{{ this.poster_path }}" alt="movie poster image may not available"></img>
        </div>
    <div class="self-center">
      <h2 class="font-bold text-2xl pb-2">{{ this.title }}</h2>
      <p>{{ this.overview }}</p>
    </div>
  </div>