<!DOCTYPE html>
<html lang="en" class="h-full bg-violet-800">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HoliDB</title>
  <link href="/css/output.css" rel="stylesheet">
</head>

<body class="h-full text-violet-300">
  <div class="w-full min-h-screen flex flex-col">
    {{!-- Nav --}}
    <div class="navbar border-2 rounded border-violet-300">
      <div class="navbar-start">
        {{!-- Search Icon/Search Form Dropdown --}}
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle ml-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-full w-full" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
          </div>
          <ul tabindex="0"
            class="menu menu-sm dropdown-content mt-3 z-[1] px-4 shadow text-xl bg-violet-300 text-violet-800 rounded-box text-nowrap">
                <form id="movieSearchForm">
                  <label for="movie-search">Search For Movie: </label>
                  <input class="px-1.5 py-1" type="text" id="movieSearchField" />
                  <button type="submit" class="mx-2 px-2 py-0.5 border-2 rounded-xl border-violet-800">Search</button>
                </form>
          </ul>
        </div>
      </div>
      {{!-- Main Heading w/ Link to Home --}}
      <div class="navbar-center">
        <h1>
          <a href="/" class="text-6xl font-bold">HoliDB</a>
        </h1>
      </div>
      <div class="navbar-end">
        {{!-- Options Dropdown With Nav Links --}}
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-full w-full" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
            </svg>
          </div>
          <ul tabindex="0"
            class="menu dropdown-content mt-3 z-[1] p-2 shadow rounded-box w-48 text-xl bg-violet-300 text-violet-800">
            <li><a href="/">Homepage</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            {{#if logged_in}}
            <li><a id="logout">Log Out</a></li>
            {{else}}
            <li><a href="/login">Log Out</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
    <main class="container container-fluid mt-5 mx-auto">
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/search-movie.js"></script>
</body>

</html>