<div class="mb-12">
<h2 class="text-5xl pb-5 text-center">Public Holidays</h2>
  {{#each publicHolidays}}
    {{> holiday-summary}}
  {{/each}}
</div>
<div>
  {{#if myHolidays}}
  <h2 class="text-5xl pb-5 text-center">My Holidays</h2>
    {{#each myHolidays}}
      {{> holiday-summary}}
    {{/each}}
      {{else}}
    <h2 class="text-5xl pb-5 text-center">Currently No Personal Holidays</h2>
    <!-- Open the modal using ID.showModal() method -->
<button class="btn justify-center" onclick="my_modal_1.showModal()">Add New Holiday</button>
<dialog id="my_modal_1" class="modal">
    <div class="modal-box">
      <h3 class="font-bold text-center text-lg">Add New Holiday</h3>
      <form id="holidayForm">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Holiday Name</span>
          </label>
          <input type="text" id="holidayName" class="input input-bordered" required />
        </div>
         <div class="form-control">
          <label class="label">
            <span class="label-text">Holiday Date</span>
          </label>
          <input type="text" id="holidayDate" class="input input-bordered" required />
        </div>
        <div class="form-control mt-4">
          <label class="label">
            <span class="label-text">Description</span>
          </label>
          <textarea id="holidayDescription" class="textarea textarea-bordered" required></textarea>
        </div>
        <div class="modal-action">
          <button type="button" class="btn btn-secondary" onclick="closeModal()">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
      <button class="btn" onclick="closeModal()">Close</button>
    </div>
  </dialog>

</div>

<script src="/js/add-holiday.js"> </script>
  {{/if}}
</div>