{{!-- Homepage with countdown --}}
<div class="w-3/4 mx-auto">
  <h2 class="text-center font-bold text-4xl border-2 border-secondary rounded-full py-4">Countdown to
    {{nextHoliday.name}}:
    <br>
    <span id="countdown"></span>
  </h2>
  <input type="hidden" id="holidayDate" value="{{nextHoliday.date}}" />
  <h3 class="mt-6 text-3xl font-bold text-center">{{nextHoliday.name}}
    Movies</h3>
  {{!-- Show movies tagged with upcoming holidays, or mention that there are no holidays tagged --}}
  {{#if associatedMovies.length}}
  <ul>
    {{#each associatedMovies}}
    {{> holidb-movie-summary}}
    {{/each}}
  </ul>
  {{else}}
  <p>No movies associated with this holiday.</p>
  {{/if}}
</div>

<script src="/js/countdown-timer.js"></script>