{{#each movies}}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{{ get_emoji }}} {{ this.title }}</h2>
  </div>
  <div class="col-md-6">
    <p>{{ this.overview }}</p>
  </div>
</div>
{{/each}}
