<div class="flex">
  <div class="w-3/4">
    <h2
      class="text-center font-bold text-4xl border-2 border-secondary rounded-full py-4"
    >Countdown to {{nextHoliday.name}}: 28 Days, 2 Hours, 30 Minutes</h2>
    <h3 class="mt-6 text-3xl font-bold text-center">{{nextHoliday.name}}
      Movies</h3>

  </div>
  <div>

  </div>
</div>