<div class="flex">
  <div class="w-3/4">
  <h2 class="text-center font-bold text-4xl border-2 border-violet-300 rounded-full py-4">Countdown to 4th of July: 28 Days, 2 Hours, 30 Minutes</h2>
  <h3 class="mt-6 text-3xl font-bold text-center">4th of July Movies</h3>
  {{#each movies}}
  {{> movie-summary}}
  {{/each}}
  </div>
  <div>

  </div>
</div>