/* COLOR THEMES */
:root {
  --color-primary: #5b21b6; /* Default primary color */
  --color-secondary: #c4b5fd; /* Default secondary color */
  --color-accent: #FFFFFF;
  --color-bg: #5b21b6;
}

.theme-winter {
  --color-primary: #1e3a8a;
  --color-secondary: #bfdbfe;
  --color-accent: #f8fafc;
}

.theme-independence {
  --color-primary: #0900ff;
  --color-secondary: #B31942;
  --color-accent: #ffffff;
}

.theme-christmas {
  --color-primary: #378b29;
  --color-secondary: #ff0000;
  --color-accent: 	#ffffff;
}

.theme-halloween {
  --color-primary: #000000;
  --color-secondary: #ff6c00;
  --color-accent: #ff6c00;
}

.theme-patrick {
  --color-primary: #274e13;
  --color-secondary: #6aa84f;
  --color-accent: #9aff00;
}

.theme-easter {
  --color-primary: #f298f4;
  --color-secondary: #f7f396;
  --color-accent: #c1fda0;
}

.theme-thanksgiving {
  --color-primary: #511f16;
  --color-secondary: #dbba33;
  --color-accent: #b6562a;
}

.theme-valentine {
  --color-primary: #d60000;
  --color-secondary: #ffc5e6;
  --color-accent: #ffffff;
}

.theme-year {
  --color-primary: #14054c;
  --color-secondary: #cfcfcf;
  --color-accent: #ffffff;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make it so disabled buttons turn gray instead of transparent (not currently using) */
/* .btn.btn-disabled {
  @apply bg-gray-200 text-black;
} */

/* HoliDB Logo Font (freeware) */
@font-face {
  font-family: 'Undeveloped';
  src: url('../fonts/UndevelopedBook.ttf') format('truetype');
}
